<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detailed View</title>
    <link rel="stylesheet" href="/css.css" />
</head>
<body>
    <h1>Here is your detailed View</h1>
    <div class="division">
    <h3><%= postid.id %></h3>
    <h4> <%= postid.username %></h4>
    <h4><%= postid.content %></h4>
    </div>
</body>
</html>
